@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', 'Courier New', Courier, monospace;
    color: black;
    list-style-type: none;
    text-decoration: none;
    margin: 0 ;
    line-height: 2rem;
}


.section2, .section3, footer {
    background-color: #F2F2F2;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto auto auto;
    
}

.sign, i {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.fa-star, p {
    font-size: 12px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.6rem;
}

h4 {
    font-weight: bold;
}

p {
    margin-bottom: 1rem;
}

/****************************/

/********** Header **********/

header {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 30px 40px ;
}

header img {
    height: 50px;
    margin-top: -50px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    padding: 3em 0;
    font-size: 14px;
}

.sign {
margin: -3em 1em 0 2em;
}

header ul li {
    display: inline;
    padding: 30px;
    font-weight: bold;
}

.headHeb a {
    padding-top: 36px;
    border-top: 2px solid #0065fc;
    color: #0065FC;
}

/**header ul li a:hover  {
    color: #0065FC;
    border-top: 2px solid #0065fc;
    transition: 0.3s all;
}**/

.fa-map-marker-alt, .fa-chart-line {
    color: black;
} 

/********** Recherche de logement **********/

.section1 {
    grid-column: span 2;
    grid-row: 2;
    margin: 0 40px 0 40px;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 9.5px 12px 11.5px 12px;
    border: 1px solid transparent;
    border-radius: 12px 0 0 12px;
    margin-right: -5px;
}

input {
    border: 1px solid #F2F2F2;
    height: 35px;
    width: 150px;
    padding-left: 7px;
    outline: none;
}

.btnTotal {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.btnTotal .btnFiltres {
    padding-left: 45px;
    cursor: pointer;
}

.btnTotal i {
    margin-left: 30px;
    margin-right: -64px;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: #DEEBFF;
    border: 1px solid transparent;
    border-radius: 50%;
}
.btnTotal .fa-money-bill-wave {
    padding: 0 8px;
}

.btnTotal .fa-child { 
    padding: 0 12px;
}

.btnTotal .fa-heart { 
    padding: 0 10px;
}

.btnTotal .fa-dog { 
    padding: 0 9px;
}

.searchM {
    display: none;
}

.searchD {
    background-color: #0065FC;
    color: white;
    padding: 2px 12px 3px 12px;
    border: 1px solid transparent;
    border-radius: 0 12px 12px 0;
    margin-left: -5px;
    cursor: pointer;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    margin: 25px 0 25px 0;
}

.filtres button  {
    display: flex;
    align-items: center;
    margin-left: 26px ;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    padding: 0 20px 4px 0;
    font-size: 14px;
    font-weight: bold;
}

.filtres button:hover {
    background-color: #DEEBFF;
    border-color: transparent;
    transition: 0.3s all;
}

.info {
    display: flex;
    flex-direction: row;
    margin-left: 30px ;
}

.fa-info{
    position: relative;
    top: 31px;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
}

/******** Hébergements + Populaires ******/


.section2 {
    grid-column: 1;
    grid-row: 3;
    padding: 20px;
    margin: 20px;
    border-radius: 20px; 

}

.hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgHebergement {
    width: 30%;
    min-width: 200px;
    max-width: 350px;
    height: 180px;
    background-color: white;
    padding: 3px;
    margin: 20px 3px 20px 3px;
    border-radius: 20px;
    box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);
}

.imgHebergement img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;

}

.imgHebergement h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 0.5rem;
    margin-left: 4px;
}

.imgHebergement p, .rating {
    margin-left: 5px;
}

.rating {
    margin-top: -28px;
}
 h5 {
    margin: 50px 0 0 20px;
}
.section3 {
    position: relative;
    grid-column: 2;
    grid-row: 3;
    padding: 20px 15px 40px 15px;
    margin: 20px 20px 20px 0;
    border-radius: 20px; 
}

.populaires {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgPop {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    height: 150px;
    width: 100%;
    min-width: 180px;
    max-width: 400px;
    padding: 3px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);
    
}

.imgPop img {
    width: 40%;
    min-width: 40%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.textPop {
    margin: 10px 0 0 10px;
}

.textPop h4 {
    font-size: 14px;
    line-height: 1.2rem;
}

.pop {
    position: absolute;
    bottom: 5px;
    left: 42%;
}

.fa-chart-line {
    position: absolute;
    top: 25px;
    right: 20px;
    
}

/**.imgHebergement:hover, .imgPop:hover {
    transform:scale(1.05);
    transition: all 0.2s ease-in-out;
}**/



/*********** Activités ************/


.section4 {
    grid-row: 4;
    grid-column: 1 / span 2;
    margin: 30px 0 30px 0;
}

.section4 h2 {
    margin-left: 25px;
}

.activites {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.vieuxPort, .imgDouble , .calanques {
    height: 450px;
    width: 20%;
    margin: 20px;
}

.fort {
    height: 240px;
    margin-bottom: 40px;
}

.frioul {
    height: 170px;
}

.notreDame, .parc {
    height: 200px;
    margin-bottom: 40px;

}

.parc {
    height: 210px;
}


.vieuxPort img, .calanques img {
    height: 90%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.imgDouble img {
    height: 80%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.vieuxPort, .fort, .frioul, .notreDame, .parc, .calanques {
    border-radius: 25px;
    box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);
}

.activites h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3rem;
    margin-left: 10px;
    margin-top: -10px;
    padding-top: 10px;
}

.activites .frioul h4 {
    padding-top: 5px;
    
}

/**.vieuxPort:hover, .fort:hover, .frioul:hover, .notreDame:hover, .parc:hover, .calanques:hover {
    transform:scale(1.03);
    transition: all 0.2s ease-in-out;
}**/

/*********** Footer ************/
footer {
     grid-column: 1 / span2;
     grid-row: 5;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding-right: 25%;
 }

.footerlist {
margin: 20px;
}

 .footerH {
    font-size: 16px;
    font-weight: bold;
 }
 li {
     font-size: 14px;
 }

 @media only screen and (max-width: 1023px) {

    .imgHebergement {
        width: 45%;
    }
 }

/*************** Version tablette *************/

@media only screen and (max-width: 960px) {

    .vieuxPort, .imgDouble, .calanques {
        margin-right: 10px;
        margin-left: 10px;
    }

    .calanques h4, .notreDame h4 {
        padding-top: 3px;
    }
}
@media only screen and (max-width: 848px) {

 body {
    
    display: grid;
    grid-template-rows: repeat(6, auto);
}

/****** Header ******/

header {
    grid-row: 1;
}

header img {
    position: absolute;
    top: 60px;
    left: 20px;
}

header ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 10px;
    top: -10px;
    right: 120px;
}

.sign {
    position: absolute;
    padding: 20px;
    top: 60px;
    right: 0;
}

/******* Recherche logement ******/

.section1 {
    grid-row: 2;
} 

h1 {
    margin-top: 80px;
}

.animaux {
    position: absolute;
    top: 345px;
    left: 90px;
    margin-bottom: -50px;
}

/***** Hebergements *******/

.section2 {
    grid-row: 4;
    grid-column: span 2;
}

/*********** Meilleurs logements *******/

.section3 {
    grid-row: 3;
    grid-column: span 2;
    margin-left: 20px;
}

.imgPop {
    margin: 10px;
    max-width: 70%;
}

/********* Activités *********/

.section4 {
    grid-row: 5;
}

.activites .calanques h4, .activites .notreDame h4 {
    padding-top: 0;
}


/********* Footer ********/

footer {
    grid-row: 6;
    padding-right: 20px;
}
}


 /*********** Version Mobil *****/

 @media only screen and (max-width: 650px) {


/************* header ********/
    .sign {
        position: absolute;
        padding: 20px;
        top: 50px;
        right: 0;
    }

    header {
        margin: 0;
        padding:0; 
        display: flex;
        width: 100%;
    }

    header ul {
        position: inherit;
        margin: 0;
        padding: 0;
    }

    nav {
        margin: 30px auto 0 auto;
    }

    nav ul li {
        margin-top: 40px;
        padding: 0 40px 3px 40px;
        border-bottom: 2px solid #F2F2F2;
    }

    .headHeb a {
        border-top: none;
    }

    header ul .headHeb {
        border-bottom: 2px solid #0065FC
    }

    /**header ul li a:hover  {
        border-top: none;
    }

    header ul li:hover  {
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        transition: 0.3s all;
    }**/

/************* Recherche logement ********/

    .searchD {
        display: none;
    }

    .section1 h1 {
        margin-top: 20px;
    }

    .section1 {
        margin-left: 15px;
    }

    .searchM {
        display: inline;
        background-color: #0065FC;
        border: none;
        border-radius: 10px;
        padding: 4px 15px 3px 15px;
        margin-left: -25px;
        cursor: pointer;
    }

    .fa-search {
        color: white;
    }

    .filtres h3 {
        margin-bottom: 100px;
    }

    .eco {
        position: absolute;
        top: 300px;
        left: -8px;
    }

    .famille {
        position: absolute;
        top: 300px;
        left: 150px;
    }

    .romantique {
        position: absolute;
        top: 350px;
        left: -8px;
    }

    .animaux {
        position: absolute;
        top: 400px;
        left: -8px;
    }
    
/************* Hebergements ********/

    .section2 {
        background-color: white;
        margin: 0;
        border-radius: 0;
    }

    .imgHebergement {
        margin: 10px;
        width: 100%;
    }

/************* Populaires ********/

    .section3 {
        margin: 0;
        border-radius: 0; 
    }

    h2 {
        margin-bottom: 10px;
    }

    .imgPop {
        margin: 5px;
        max-width: 90%;
        height: 150px;
    }

    .fa-chart-line {
        font-size: 20px;
    }

    .activites .frioul h4,.activites .calanques h4, .activites .notreDame h4 {
        padding-top: 10px;
    }
    

/********* Activites *******/

    .activites {
        flex-direction: column;
        text-align: center;
    }

    .vieuxPort, .calanques {
        width: 80%;
        padding-bottom: 30px;
       
    }

    .imgDouble {
        width: 80%;
        margin: 0 auto -30px auto;
    }

    .vieuxPort, .calanques, .parc, .notreDame, .frioul, .fort {
        height: 180px;
        margin: 10px auto 10px auto;
    }

    .vieuxPort, .calanques {
        height: 150px;
    }

    .vieuxPort h4, .calanques h4, .parc h4, .notreDame h4, .frioul h4, .fort h4 {
        text-align: left;
        padding: 10px 0 0 10px;
    }

    .notreDame, .fort {
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .frioul, .parc {
        padding-bottom: 10px;
    }

/*********** Footer ********/

    footer {
        flex-direction: column;
        padding-top: 20px;
    }

    .footerlist {
        margin-left: 10px;
    }

 }

/********** Rectifs absolute *********/

 @media only screen and (max-width: 503px) {

    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 10px;
    }

    input {
        width: 70%;
        height: 40px;
    }

    .fa-map-marker-alt {
        padding: 12px 15px 9px 15px;
        margin-right: -20px;
    }

    .eco {
        position: absolute;
        top: 330px;
        left: -8px;
    }

    .famille {
        position: absolute;
        top: 330px;
        left: 150px;
    }

    .romantique {
        position: absolute;
        top: 380px;
        left: -8px;
    }

    .animaux {
        position: absolute;
        top: 430px;
        left: -8px;
    }
 }

 @media only screen and (max-width: 386px) {

    .fa-map-marker-alt {
        padding: 12px 15px 9px 15px;
        margin-right: -12px;
    }

    nav ul li {
        padding: 0 24px 3px 24px;
    }
}